{{define "player-specials"}}
<table id="player-values-table">
    <thead>
        <tr>
            <th>Value</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Credits</td>
            <td>{{.PlayerCreditsRemaining}}</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Credits are used to purchase specials."
                ></span>
            </td>
        </tr>
        <tr>
            <td>Winning Streak</td>
            <td>{{.PlayerWinningStreak}}</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="If your winning streak hits {{.LobbyWinStreakThreshold}}, you have a credit removed and your streak will be reset."
                ></span>
            </td>
        </tr>
        <tr>
            <td>Losing Streak</td>
            <td>{{.PlayerLosingStreak}}</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="If your losing streak hits {{.LobbyLoseStreakThreshold}}, you will be awarded an additional credit and your streak will be reset."
                ></span>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table id="special-table">
    <thead>
        <tr>
            <th>Special</th>
            <th>Cost</th>
            <th>
                <span
                    title="Purchase Credits"
                    class="bi bi-cart4 clickable"
                    onclick="document.getElementById('purchase-credits-dialog').showModal()"
                ></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button
                    onclick="document.getElementById('alert-lobby-dialog').showModal()"
                    {{if lt .PlayerCreditsRemaining 1}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Alert Lobby
                </button>
            </td>
            <td>1+</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Alert the lobby with any text you want."
                ></span>
            </td>
        </tr>
        <tr>
            <td>
                <button
                    onclick="document.getElementById('gamble-credits-dialog').showModal()"
                    {{if lt .PlayerCreditsRemaining 1}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Gamble Credits
                </button>
            </td>
            <td>1+</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Gamble credits with a chance to win more."
                ></span>
            </td>
        </tr>
        {{if not .PlayerIsJudge}}
        <tr>
            <td>
                {{if gt .PlayerBetOnWin 0}}
                <i>Bet Placed: {{.PlayerBetOnWin}}</i>
                {{if not .BoardHasAnyRevealed}}
                <br />
                <span
                    title="Undo Bet"
                    class="bi bi-arrow-counterclockwise clickable"
                    hx-post="/api/lobby/{{$.LobbyId}}/bet-on-win/undo"
                >
                    <i>Undo Bet</i>
                </span>
                {{end}}
                {{else}}
                <button
                    onclick="document.getElementById('bet-on-win-dialog').showModal()"
                    {{if or .BoardHasAnyRevealed (lt .PlayerCreditsRemaining 1)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Bet On Win
                </button>
                {{end}}
            </td>
            <td>1+</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Bet credits you will win this round. Earn double credits back if correct."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and .PlayerIsJudge (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    hx-post="/api/lobby/{{$.LobbyId}}/skip-judge"
                    hx-confirm="Are you sure you want to skip being judge?"
                    {{if or .BoardHasAnySpecial .BoardHasAnyRevealed (lt .PlayerCreditsRemaining 5)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Skip Being Judge
                </button>
            </td>
            <td>5</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Skip your turn as judge."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if .PlayerIsJudge}}
        <tr>
            <td>
                <button
                    hx-post="/api/lobby/{{$.LobbyId}}/reset-responses"
                    hx-confirm="Are you sure you want to reset responses?"
                    {{$opponentCount := len .Opponents}}
                    {{if gt $opponentCount 0}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Reset Responses
                </button>
            </td>
            <td></td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Reset player responses back to default."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    hx-post="/api/lobby/{{$.LobbyId}}/add-extra-response"
                    hx-confirm="Are you sure you want to use an extra response?"
                    {{if or .BoardHasAnyRevealed (lt .PlayerCreditsRemaining 2)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Extra Response
                </button>
                {{if and (gt .PlayerExtraResponses 0) (not .BoardHasAnyRevealed)}}
                <span
                    title="Undo Extra Response"
                    class="bi bi-arrow-counterclockwise clickable"
                    hx-post="/api/lobby/{{$.LobbyId}}/add-extra-response/undo"
                >
                    <i>Undo Extra Response</i>
                </span>
                {{end}}
            </td>
            <td>2</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Get an extra response for the round."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    onclick="document.getElementById('block-response-dialog').showModal()"
                    {{$opponentCount := len .Opponents}}
                    {{if or .BoardHasAnyRevealed (lt .PlayerCreditsRemaining 2) (eq $opponentCount 0)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Block Response
                </button>
            </td>
            <td>2</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Block a response of another player for the round."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    hx-post="/api/lobby/{{$.LobbyId}}/card/surprise/play"
                    hx-confirm="Are you sure you want to use a Surprise Card?"
                    {{if .PlayerIsReady}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Surprise Card
                </button>
            </td>
            <td>-</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Draw a random card from the draw pile.&#010;You will not know which card you played."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    hx-post="/api/lobby/{{$.LobbyId}}/card/steal/play"
                    hx-confirm="Are you sure you want to use a Steal Card?"
                    {{if or .PlayerIsReady (lt .PlayerCreditsRemaining 1)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Steal Card
                </button>
            </td>
            <td>1</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Steal a random card from another player in the lobby.&#010;They will receive an extra credit to spend as a result."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    onclick="document.getElementById('find-card-dialog').showModal()"
                    {{if or .PlayerIsReady (lt .PlayerCreditsRemaining 2)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Find Card
                </button>
            </td>
            <td>2</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Find a card from the draw pile."
                ></span>
            </td>
        </tr>
        {{end}}
        {{if and (not .PlayerIsJudge) (not .PlayerIsWinning)}}
        <tr>
            <td>
                <button
                    onclick="document.getElementById('wild-card-dialog').showModal()"
                    {{if or .PlayerIsReady (lt .PlayerCreditsRemaining 3)}}
                    class="disabled non-clickable"
                    disabled
                    {{end}}
                >
                    Wild Card
                </button>
            </td>
            <td>3</td>
            <td>
                <span
                    class="bi bi-info-circle"
                    title="Provide any text you want to play as a card."
                ></span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<dialog id="alert-lobby-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Alert the Lobby</h3>
            <h5>
                <span>A message displayed to all players in the lobby.</span>
                <br />
                <span>Credits spent determines how many seconds the message appears.</span>
                <br />
                <i>(1 credit = 2 seconds)</i>
                <br />
                <i>({{.PlayerCreditsRemaining}} credits available)</i>
            </h5>
        </div>
        <div>
            <span
                class="bi bi-x-lg close-button"
                onclick="document.getElementById('alert-lobby-dialog').close()"
            ></span>
        </div>
    </div>
    <form
        hx-post="/api/lobby/{{.LobbyId}}/alert"
        hx-target="find .htmx-result"
        hx-confirm="Are you sure you want to alert the lobby with this?"
    >
        <div class="form-input">
            <label
                for="alertLobbyText"
                style="vertical-align: top"
            >Text</label>
            <textarea
                id="alertLobbyText"
                name="text"
                maxlength="65000"
                placeholder="Enter Alert Lobby Text"
                required="required"
                cols="40"
                rows="10"
                autocomplete="off"
            ></textarea>
            <label for="alertLobbyAmount">Credits</label>
            <input
                id="alertLobbyAmount"
                name="credits"
                type="number"
                min="1"
                max="{{.PlayerCreditsRemaining}}"
                required="required"
                value="1"
            />
        </div>
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Alert Lobby"
            onclick="document.getElementById('alert-lobby-dialog').close();"
        />
    </form>
</dialog>
<dialog id="gamble-credits-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Gamble Credits</h3>
            <h5>
                <span>Choose how many credits to gamble.</span>
                <br />
                <i>({{.PlayerCreditsRemaining}} credits available)</i>
            </h5>
        </div>
        <div>
            <span
                class="bi bi-x-lg close-button"
                onclick="document.getElementById('gamble-credits-dialog').close()"
            ></span>
        </div>
    </div>
    <form
        hx-post="/api/lobby/{{.LobbyId}}/gamble-credits"
        hx-target="find .htmx-result"
        hx-confirm="Are you sure you want to gamble these credits?"
    >
        <div class="form-input">
            <label for="gambleAmount">Credits</label>
            <input
                id="gambleAmount"
                name="credits"
                type="number"
                min="1"
                max="{{.PlayerCreditsRemaining}}"
                required="required"
                value="1"
            />
        </div>
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Gamble"
        />
    </form>
    <br />
</dialog>
<dialog id="bet-on-win-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Bet On Win</h3>
            <h5>
                <span>Choose how many credits to bet that you will win this round.</span>
                <br />
                <i>({{.PlayerCreditsRemaining}} credits available)</i>
            </h5>
        </div>
        <div>
            <span
                class="bi bi-x-lg close-button"
                onclick="document.getElementById('bet-on-win-dialog').close()"
            ></span>
        </div>
    </div>
    <form
        hx-post="/api/lobby/{{.LobbyId}}/bet-on-win"
        hx-target="find .htmx-result"
        hx-confirm="Are you sure you want to place this bet?"
    >
        <div class="form-input">
            <label for="betOnWinAmount">Credits</label>
            <input
                id="betOnWinAmount"
                name="credits"
                type="number"
                min="1"
                max="{{.PlayerCreditsRemaining}}"
                required="required"
                value="1"
            />
        </div>
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Place Bet"
        />
    </form>
</dialog>
<dialog id="block-response-dialog">
    <div style="display: grid; grid-auto-flow: column">
        <div>
            <h3>Block Response</h3>
            <h5><i>Reduce the amount of responses an opponent player gets this round.</i></h5>
        </div>
        <div>
            <span
                class="bi bi-x-lg close-button"
                onclick="document.getElementById('block-response-dialog').close()"
            ></span>
        </div>
    </div>
    <form
        hx-post="/api/lobby/{{.LobbyId}}/block-response"
        hx-target="find .htmx-result"
        hx-confirm="Are you sure you want to block their response?"
    >
        <div class="form-input">
            <label for="targetPlayerId">Target Player</label>
            <select
                id="targetPlayerId"
                name="targetPlayerId"
                autocomplete="off"
                required="required"
            >
                {{range .Opponents}}
                <option value="{{.PlayerId}}">{{.UserName}}</option>
                {{end}}
            </select>
        </div>
        <br />
        <div class="htmx-result"></div>
        <input
            type="submit"
            value="Block Response"
        />
    </form>
    <br />
</dialog>
{{end}}