{{define "body"}}
    <form hx-post="/api/access/lobby/{{.Lobby.Id}}" hx-target="find .htmx-result">
        <h3>Lobby: {{.Lobby.Name}}</h3>
        <p>You must provide the password to join lobby.</p>
        <input
                type="password"
                id="password"
                name="password"
                maxlength="255"
                placeholder="Enter Lobby Password"
                required="required"
                autofocus="autofocus"
                autocomplete="off"
        />
        <br/>
        <br/>
        <div class="htmx-result"></div>
        <input type="submit" value="Submit"/>
    </form>
{{end}}
