{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>Review</h2>
</div>
<form id="table-filter-form">
    {{if gt .Page 1}}
    <button onclick="goToTablePage(1)">
        <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button onclick="goToPreviousTablePage()">
        <span class="bi bi-chevron-left"></span>
    </button>
    {{end}}

    <span>
        Page <input
            type="number"
            id="pageNumber"
            name="page"
            min="1"
            max="{{.LastPage}}"
            value="{{.Page}}"
            onchange="submitTableFilterForm()"
        /> of {{.LastPage}}
    </span>

    {{if lt .Page .LastPage}}
    <button onclick="goToNextTablePage()">
        <span class="bi bi-chevron-right"></span>
    </button>
    <button onclick="goToTablePage({{.LastPage}})">
        <span class="bi bi-chevron-bar-right"></span>
    </button>
    {{end}}
</form>
{{if eq .RowCount 0}}
No review cards found.
{{else}}
<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Deck</th>
            <th>Category</th>
            <th>Text</th>
            <th>YouTube</th>
            <th>Image</th>
            <th>Recover</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{range .Cards}}
        <tr>
            <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
            <td>{{.DeckName}}</td>
            <td>{{if eq .Category "PROMPT"}} Prompt {{else}} Response {{end}}</td>
            <td class="wrap-new-lines">{{.Text}}</td>
            <td>
                {{if .YouTube.Valid}}
                <div style="text-align: center;">
                    <span class="bi bi-youtube"></span>
                </div>
                {{end}}
            </td>
            <td>
                {{if .Image.Valid}}
                <div style="text-align: center;">
                    <span class="bi bi-card-image"></span>
                </div>
                {{end}}
            </td>
            <td style="text-align: center">
                <span
                    title="Recover Card"
                    class="bi bi-arrow-counterclockwise clickable"
                    hx-put="/api/card/review/{{.Id}}/recover"
                    hx-confirm="Are you sure you want to recover this card?"
                ></span>
            </td>
            <td style="text-align: center">
                <span
                    title="Permanently Delete"
                    class="bi bi-trash clickable"
                    hx-delete="/api/card/review/{{.Id}}"
                    hx-confirm="Are you sure you want to permanently delete this card?"
                ></span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
<br />
<br />
{{end}}