{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>Leaderboard Statistics</h2>
    <div style="text-align: right;">
        <button onclick="window.location.href='/stats'">
            Statistics Home
        </button>
    </div>
</div>
<form
    hx-post="/api/stats/leaderboard"
    hx-trigger="load, change"
    hx-target="#leaderboard"
>
    <label for="leaderboardTopic">Topic:</label>
    <select
        id="leaderboardTopic"
        name="topic"
    >
        <optgroup label="Games">
            <option
                value="game-win-ratio"
                selected
            >Best Game Win Ratio</option>
            <option value="game-win">Most Games Won</option>
            <option value="game-play">Most Games Played</option>
        </optgroup>
        <optgroup label="Rounds">
            <option value="round-win-ratio">Best Round Win Ratio</option>
            <option value="round-win">Most Rounds Won</option>
            <option value="round-play">Most Rounds Played</option>
        </optgroup>
        <optgroup label="Time">
            <option value="round-judge-time">Time to Judge a Round</option>
            <option value="round-play-time">Time to Play a Round</option>
        </optgroup>
        <optgroup label="Response Cards">
            <option value="response-card-play">Most Response Cards Played</option>
            <option value="response-card-discard">Most Response Cards Discarded</option>
        </optgroup>
        <optgroup label="Prompt Cards">
            <option value="prompt-card-play">Most Prompt Cards Played</option>
            <option value="prompt-card-skip">Most Prompt Cards Skipped</option>
        </optgroup>
        <optgroup label="Picks">
            <option value="picked-judge">Most Picked (judge)</option>
            <option value="picked-player">Most Picked (winner)</option>
        </optgroup>
        <optgroup label="Credits">
            <option value="credits-spent">Most Credits Spent</option>
            <option value="credits-earned">Most Credits Earned</option>
            <option value="credits-spent-category">Most Credits Spent (Category)</option>
            <option value="credits-earned-category">Most Credits Earned (Category)</option>
            <option value="credits-spent-game">Most Credits Spent (Game)</option>
            <option value="credits-earned-game">Most Credits Earned (Game)</option>
        </optgroup>
        <optgroup label="Gambling">
            <option value="gamble">Largest Gamble</option>
            <option value="gamble-win">Largest Gamble Win</option>
            <option value="bet">Largest Bet</option>
            <option value="bet-win">Largest Bet Win</option>
        </optgroup>
        <optgroup label="Other">
            <option value="kick">Most Kicks</option>
        </optgroup>
    </select>
    <label for="leaderboardSubject">Subject:</label>
    <select
        id="leaderboardSubject"
        name="subject"
    >
        <option
            value="player"
            selected
        >Player</option>
        <option value="card">Card</option>
        <option value="special-category">Special Category</option>
    </select>
</form>
<div id="leaderboard"></div>
<br />
<br />
{{end}}